/*!
 * Kitchen Sink Styles
 */

body {
  background-color: #faf9f4;
}

.rule {
  height: 2px; 
  width: 100%; 
  background-color: #dddad7;
}


/* Typographic */


h1, h2 {
  color: #073f69; 
  font-family: 'Droid Serif', serif;
}

h1 {  
  font-family: 'Droid Serif', serif; 
  font-weight: 500; 
  font-size: 60px; 
  line-height: 80px;
}

h2 { 
  font-family: 'Droid Sans', sans-serif; 
  font-weight: 500; 
  font-size: 42px; 
  line-height: 52px;
}

h3 {
  color: #f65700; 
  font-family: 'Droid Sans', sans-serif; 
  font-weight: 800; 
  font-size : 20px; 
  line-height: 24px; 
  text-align: center;
}

strong, p {
  font-size: 16px; 
  line-height: 24px;  
  margin-bottom: 20px;
}

strong {
  font-family: 'Droid Serif', serif; 
  color: #4d4d4d; 
  font-weight: 500; 
  display: block;
}

p {
  font-family: 'Droid Serif', serif; 
  color: #7f7f7f; 
}

a {
  color: #f65700;
}

a.link:visited {color:#f65700; text-decoration: underline;}
a.link:hover {color:#f65700;}
a.link:active {color:#f65700;}


a.navigation {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 0 15px 20px;
  display: block;
  width: 100%;
  background-image: url('file://localhost/Users/Magnus/Sites/TumblrThemeKitchenSink/img/pointer.png');
  background-repeat: no-repeat;
  background-position: 105%;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  transition-timing-function: ease;
}

a.navigation:hover { 
  background-color: #f65700;
  color: #ffffff;
  text-decoration: none;
  background-position: 90%;
}

